<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<!-- <link rel="stylesheet" type="text/css" href="css/base.css"/>
<link rel="stylesheet" type="text/css" href="css/index.css"/> -->
  <title>软件效果验证系统</title>
</head>
<body>          
    <input type="text" id="start_input">
    <!-- <input type="submit" name="send" id="start_butt" value="启动docker" /> -->
    <button type="button" id="start_butt">启动</button>
    <p id="start_info"></p>
    <input type="text" id="stop_input">
    <!-- <input type="submit" name="send" id="stop_butt" value="停止docker" /> -->
    <button type="button" id="stop_butt">停止</button>
    <p id="stop_info"></p>

    <form action="http://localhost:8000/score/" method="post"> 
        请输入软件名并为软件打分<br /><br /> 
        <p>软件名：<input type="text" name="name"></p>
        <label><input name="score" type="radio" value=0 />0 </label> 
        <label><input name="score" type="radio" value=2 />2 </label> 
        <label><input name="score" type="radio" value=4 />4 </label> 
        <label><input name="score" type="radio" value=6 />6 </label> 
        <label><input name="score" type="radio" value=8 />8 </label>
        <label><input name="score" type="radio" value=10 />10 </label> 
        <p><input type="submit" value="submit"></p>
    </form> 
    <form action="/logout/" method="post">
        {% csrf_token %}
        <p>
            <input type="submit" value="退出用户">
        </p>
        <hr>
    </form> 
    
</body>
<script type="text/javascript">
    document.getElementById("start_butt").onclick=function(){
        var url = "http://localhost:8000/start?name=" + document.getElementById("start_input").value;
        var request = new XMLHttpRequest();
        request.open("GET", url);
        request.send();
        request.onreadystatechange = function () {
            if (request.readyState == 4 && request.status == 200) {
                var res = request.responseText;
                document.getElementById("start_info").innerText = res;
                strs = res.split("\n");
                console.log(strs);
                if (strs.length == 2) {
                    window.open(strs[0]);
                }
                
            }
        }; 
    };
    document.getElementById("stop_butt").onclick=function(){
        var url = "http://localhost:8000/stop?name=" + document.getElementById("stop_input").value;
        var request = new XMLHttpRequest();
        request.open("GET", url);
        request.send();
        request.onreadystatechange = function () {
            if (request.readyState == 4 && request.status == 200) {
                var res = request.responseText;
                document.getElementById("stop_info").innerText = res;
            }
        }; 
    };
</script>
</html>